.header{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.menu{
    display: flex;
    flex-direction: row;
}

.menu__burger{
    display: none;
}

.menu__item{
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    font-family: Heebo, serif;
    font-size: 1.25rem;
    line-height: 1.8125rem;
}

.menu__item:hover {
    color: #FF6464;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    height: 30.9375rem;
    margin: auto;
}
.welcomeBlock{
    display: flex;
    flex-direction: row;
}

.welcome-block__title{
    font-family: Heebo, serif;
    font-size: 2.75rem;
    font-weight: 700;
}

.welcome-block__subtitle{
    margin-top: 40px;
    font-family: Heebo, serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.welcome-block__button{
    display: inline-block;
    margin-top: 47px;
    padding: 0.625em  1.25em 0.625em 1.25em;
    font-family: 'Heebo', serif;
    font-size: 1.25em;
    font-weight: 600;
    color:#FFFFFF;
    background-color: #FF6464;
    border-radius: 0.125em;
}

.welcomeBlock__column2{
    position: relative;
    margin-left: 106px;
}

.welcome-block__photo::before{
    content: "";
    position: absolute;
    width: 243px;
    height: 243px;
    background: #EDF7FA;
    border-radius: 50%;
    right: 5px;
    top: 13px;
    z-index: -1;
}

@media (max-width: 500px){

    .wrapper{
        width: 375px;
        margin: 0;
        padding: 0;

    }

    .header{
        height: 50px;
        margin-right: 18px;
    }

    .menu__item{
        display: none;
    }

    .menu__burger{
        margin-top:18px;
        display: block;
        height: 2px;
        width: 30px;
        background-color: #21243D;
    }

    .menu__burger::before{
        content: '';
        display: block;
        height: 2px;
        width: 30px;
        background-color: #21243D;
        transform: translateY(8px);
    }

    .menu__burger::after{
        display: block;
        content: '';
        height: 2px;
        width: 30px;
        background-color: #21243D;
        transform: translateY(-10px);
    }
    .welcomeBlock{
        display: flex;
        flex-direction:column-reverse;
    }

    .welcome-block__title{
        font-size: 2rem;
        line-height:2.5rem;
        width: 309px;
    }

    .welcome-block__subtitle{
        margin-top: 21px;
    }

    .welcome-block__button{
        margin-top: 27px;
    }

    .welcomeBlock__column2{
        margin: 83px 0 0 0;
        display: flex;
        justify-content: center;
        height: 213px;
        width: 375px;
    }

    .welcome-block__photo{
        position: absolute;
        height: 10.679rem;
        width: 10.679rem;
    }

    .welcome-block__photo2{
        width: 100%;
        height: auto;
    }

    .welcome-block__photo::before{
        height: 10.679rem;
        width: 10.679rem;
    }

    .welcomeBlock__column1{
        margin: 0 32px 0 32px ;
        width: 312px;
        text-align: center;
    }
}


