.header{
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
}

.menu{
    display: flex;
    flex-direction: row;
}

.menu__item{
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    font-family: Heebo, serif;
    font-size: 1.25em;
    line-height: 1.8125em;
}

.menu__item:hover {
    color: #FF6464;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    height: 30.9375em;
    margin: 4% auto 0 auto;
}
.welcomeBlock{
    display: flex;
    flex-direction: row;
}

.welcomeBlock__column1{
    width: 75%;
}

.welcome-block__title{
    font-family: Heebo, serif;
    font-size: 2.75em;
    font-weight: 700;
}

.welcome-block__subtitle{
    margin-top: 4%;
    font-family: Heebo, serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
}

.welcome-block__button{
    display: inline-block;
    margin-top: 5%;
    padding: 0.625em  1.25em 0.625em 1.25em;
    font-family: 'Heebo', serif;
    font-size: 1.25em;
    font-weight: 600;
    color:#FFFFFF;
    background-color: #FF6464;
    border-radius: 0.125em;
}

.welcomeBlock__column2{
    position: relative;
}

.welcome-block__photo::before{
    content: "";
    position: absolute;
    width: 243px;
    height: 243px;
    background: #EDF7FA;
    border-radius: 50%;
    right: 5px;
    top: 13px;
    z-index: -1;
}
.posts{
    height:396px ;
    width: 100%;
    background-color: #EDF7FA;
}

