@font-face{
    font-family: Heebo;
    src: url("fonts/Heebo-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    font-family: Heebo, serif;
    font-size: 16px;
    color:#21243D;
    font-weight: 400;
}

body,html,p{
    margin: 0;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin: 27px 60px 0 0;
}

.menu__burger {
    display: none;
}

.menu__item {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: space-around;
}


.text-medium{
    font-size: 20px;
    font-weight: 500;
}

.text-title{
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
}

.text-white{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}



.menu__item:hover {
    color: #FF6464;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 63px 148px 0 148px;
}

.welcome-block {
    display: flex;
    flex-direction: row;
}

.welcome-block__subtitle {
    margin-top: 40px;
}

.welcome-block__button {
    display: inline-block;
    margin-top: 47px;
    padding: 10px 20px 10px 20px;
    background-color: #FF6464;
    border-radius: 2px;
}

.welcome-block__column2 {
    position: relative;
    margin-left: 106px;
}

.welcome-block__photo::before {
    content: "";
    position: absolute;
    width: 243px;
    height: 243px;
    background: #EDF7FA;
    border-radius: 50%;
    right: 5px;
    top: 13px;
    z-index: -1;
}

.news {
    width: 100%;
    background-color: #EDF7FA;
    padding-bottom: 35px;
}

.news__heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news__title{
    font-size: 22px;
}

.news__view-all{
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    text-align: right;
    color: #00A8CC;
}

.news__posts-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news__post{
    width: calc(50% - 10px);
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 0 3px rgba(237, 247, 255, 0.61);
    padding: 24px;
    overflow: hidden;
}

.news__topic{
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
}

.news__date{
    margin-top: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px
}

.news__content{
    margin-top: 15px;
}

.works__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 148px 0 148px;
}

.works__title{
    font-size: 22px;
    line-height: 60px;
}

.works__post{
    display: flex;
    margin: 15px 0;
    padding-bottom:20px;
    border-bottom: 1px solid #E0E0E0;
}

.works__image{
    border-radius: 6px;
}

.works__description{
    margin-left: 18px;
}

.works__topic{
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
}
.works__year-theme{
    display: flex;
    margin-top: 15px;
}

.works__year{
    width: 62px;
    height: 25px;
    background-color: #142850;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
}

.works__theme{
    margin-left: 30px;
    font-size: 20px;
    color: #8695A4;
}

.works__content{
    margin-top: 15px;
}

.footer{
    width: 100%;
    height: 200px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: column;
}

.footer-wrapper{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width: 500px;

}

@media (max-width: 927px) {
    .welcome-block__column2 {
        margin-left: unset;
    }
}

@media (max-width: 820px) {

    .wrapper {
        margin: 0 auto 0 auto;
        width: 375px;
        padding: 0;
    }

    .menu {
        display: none;
    }

    .menu__burger {
        position: relative;
        z-index: 1;
        top: 20px;
        left: 90%;
        display: block;
        height: 2px;
        width: 30px;
        background-color: #21243D;
    }

    .menu__burger::before {
        content: '';
        display: block;
        height: 2px;
        width: 30px;
        background-color: #21243D;
        transform: translateY(8px);
    }

    .menu__burger::after {
        display: block;
        content: '';
        height: 2px;
        width: 30px;
        background-color: #21243D;
        transform: translateY(-10px);
    }

    .menu {
        display: none;
        position: unset;
        top: 0;
        right: 0;
        width: 100%;
        height: 140px;
        background-color: #EDF7FA;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: -50px;
        animation-name: rainbow;
        animation-duration: 1s;
    }

    @keyframes rainbow {
        0%   {height: 80px; background-color: #2ab6e1;}
        12%   {height: 90px; background-color: #17a161;}
        25%  {height: 100px; background-color: #dc4cd1;}
        33%   {height: 105px; background-color: #8a1685;}
        50%  {height: 110px; background-color: #d07d1c;}
        66%   {height: 115px; background-color: #750d0d;}
        75%   {height: 120px; background-color: #918401;}
        88%   {height: 125px; background-color: #ffcb00;}
        100% {height: 130px; background-color: #EDF7FA;}
    }

    .welcome-block {
        display: flex;
        flex-direction: column-reverse;
    }

    .welcome-block__title {
        font-size: 32px;
        line-height: 32px;
        width: 309px;
    }

    .welcome-block__subtitle {
        margin-top: 21px;
    }

    .welcome-block__button {
        margin-top: 27px;
    }

    .welcome-block__column2 {
        margin: 83px 0 0 0;
        display: flex;
        justify-content: center;
        height: 213px;
        width: 375px;
    }

    .welcome-block__photo {
        position: absolute;
        height: 170px;
        width: 170px;
    }

    .welcome-block__photo2 {
        width: 100%;
        height: auto;
    }

    .welcome-block__photo::before {
        height: 170px;
        width: 170px;
    }

    .welcome-block__column1 {
        margin: 0 32px 0 32px;
        width: 312px;
        text-align: center;
    }

    .news {
        margin-top: 71px;
    }

    .news__title {
        margin: auto;
    }

    .news__view-all {
        display: none;
    }

    .news__posts-block {
        flex-direction: column;
    }

    .news__post {
        margin: auto;
        width: calc(100% - 20px);
        padding: 19px;
    }

    .news__post:nth-child(1) {
        margin-bottom: 17px;
    }

    .news__topic {
        font-size: 22px;
        line-height: 30px;
    }

    .news__date {
        font-size: 16px;
        line-height: 24px
    }

    .works__wrapper {
        margin: 0 auto 0 auto;
        width: 375px;
        padding: 0;
    }

    .works__title {
        margin: 0 auto;
        font-size: 18px;
        line-height: 60px;
        text-align: center;
    }

    .works__post:nth-child(n+3) {
        display: none;
    }

    .works__post {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .works__image {
        margin: auto;
        width: 340px;
        height: 230px;
        object-fit: cover;
    }

    .works__topic {
        font-size: 24px;
        line-height: 30px;
        margin-top: 20px;
    }

    .works__year-theme {
        margin-top: 20px;
    }

    .works__year {
        font-size: 16px;
    }

    .works__theme {
        font-size: 16px;

    }

}


